<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z4QLHWXK9X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-Z4QLHWXK9X");
    </script>
    <script async data-id="101410859" src="//static.getclicky.com/js"></script>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Merriweather:wght@300;400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ "/css/site.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <header class="site-header">
      <div class="logo-container">
        <a href="{{ "/" | relative_url }}">
          <img class="logo" loading="lazy" src="/img/logo.jpg" alt="Логотип Ксении Тоечкиной" />
        </a>
      </div>
      <nav class="site-nav">
        <a href="{{ "/" | relative_url }}">Главная</a>
        <a href="{{ "/about-me/" | relative_url }}">Обо мне</a>
        <a href="{{ "/services/" | relative_url }}">Услуги</a>
        <a href="{{ "/shop/" | relative_url }}">Магазин</a>
        <a href="{{ "/blog/" | relative_url }}">Блог</a>
        <a href="{{ "/reviews/" | relative_url }}">Отзывы</a>
        <a href="{{ "/contacts/" | relative_url }}">Контакты</a>
      </nav>
    </header>

    <main class="page-content">
      {{ content }}
    </main>

    <footer class="site-footer">
      <div class="copyright">
        &copy; {{ site.time | date: '%Y' }} {{ site.title }}
      </div>
    </footer>
  </body>
</html> 