---
layout: default
---
<article class="product">
  <header class="product-header">
    <h1 class="product-title">{{ page.title }}</h1>
  </header>

  <div class="product-content">
    {% if page.button_text and page.button_url %}
    <div class="product-button" style="text-align: center; margin-bottom: 30px;">
      <a href="{{ page.button_url }}" class="button" style="display: inline-block; color: #00a09c; font-weight: bold; text-decoration: none; padding: 8px 15px; border: 2px solid #00a09c; border-radius: 30px; transition: all 0.3s ease;">{{ page.button_text }}</a>
    </div>
    {% endif %}

    {% if page.image %}
    <div class="product-image">
      <img src="{{ page.image }}" alt="{{ page.title }}" />
    </div>
    {% endif %}

    <div class="product-description">
      {{ content }}
    </div>

    {% if page.button_text and page.button_url %}
    <div class="product-button">
      <a href="{{ page.button_url }}" class="button" style="display: inline-block; color: #00a09c; font-weight: bold; text-decoration: none; padding: 8px 15px; border: 2px solid #00a09c; border-radius: 30px; transition: all 0.3s ease;">{{ page.button_text }}</a>
    </div>
    {% endif %}

</article> 